<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUP TULANG ZZ</title>
        <link rel="stylesheet" href="../Staff/assets/css/main.css">
        <link rel="stylesheet" href="../../assets/css/main.css">
    </head>
    <body>
        <!-- Header -->
         <header class="header">
            <div class ="logo-section">
                <img src="./../assets/images/logo.png" alt="Logo" class="logo">
                <h1 class="brand-name">SUP TULANG ZZ</h1>
            </div>
         </header>
    </body>

</html>