<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/images/logo.png">
    <title>Sign Up - Admin Panel</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/authStaff.css">
    <script src="./assets/javascript/authStaff.js"></script>
    <script src="./assets/javascript/mainStaff.js"></script>
</head>
<body>
    <div class="auth-container">
        <div class="auth-card">
            <div class="auth-header">
                <h1>Admin Registration</h1>
                <p>Create your runner account to get started.</p>
            </div>
            
            <form id="signupForm" class="auth-form">
                <div class="form-group">
                    <label for="lastName">username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                
                <div class="form-group">
                    <label for="signupEmail">Email Address</label>
                    <input type="email" id="signupEmail" name="email" required>
                </div>
                
                <div class="form-group">
                    <label for="signupPassword">Password</label>
                    <input type="password" id="signupPassword" name="password" required>
                </div>
                
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="password_confirmation" required>
                </div>

                <div class="form-group">
                    <label for="runner-type">Company</label>
                    <select name="runner-type" id="runner-type">
                        <option value="grab">Grab</option>
                        <option value="foodpanda">FoodPanda</option>
                    </select>
                </div>
                
                <div class="form-options">
                    <label class="checkbox-container">
                        <input type="checkbox" name="terms" required>
                        <span class="checkmark"></span>
                        I agree to the <a href="#">Terms & Conditions</a>
                    </label>
                </div>
                
                <button type="submit" class="btn-primary">Create Account</button>
                
                <div class="auth-footer">
                    <p>Already have an account? <a href="loginStaff.html">Sign in here</a></p>
                </div>
            </form>
        </div>
    </div>
    

</body>
</html>